.card {
    border: 2px solid lightblue;
    margin: 10% 33%;
    padding: 10px;
    border-radius: 15px;
    width: 250px;
    height: auto;

}

.card img {
    width: 220px;
}

.btn-topic {
    text-decoration: none;
    padding: 8px 12px;
    /* background-color: blueviolet; */
    color: white;
    border: 1px solid blueviolet;
    border-radius: 8px;

}

.btn-topic:hover {
    background-color: skyblue;
    color: white;
}

.btn-topic a {
    text-decoration: none;
}


@media only screen and (max-width:688px) {
    .card {
        border: 2px solid lightblue;
        margin: 10% 20%;
        padding: 10px;
        border-radius: 15px;
        width: 250px;
        height: auto;

    }

    .card img {
        width: 220px;
    }
}